<% include ../partials/header %>
<div class="container">
<h1>EditGame : <%=detail.Name%></h1>
  <form action="/gamesave" method="POST">
    <div class="form-group">
      <label for="">Name</label>
      <input type="text" class="form-control" value="<%=detail.Name%>" name="name" id="" aria-describedby="helpId" readonly
        placeholder="">
      <small id="helpId" class="form-text text-muted">Help text</small>
    </div>
    <div class="form-group">
      <label for="">Type</label>
      <input type="text" class="form-control" value="<%=detail.Type%>" name="type" id=""
        aria-describedby="helpId" placeholder="">
      <small id="helpId" class="form-text text-muted">Help text</small>
    </div>
    <div class="form-group">
      <label for="">Rate</label>
      <input type="text" class="form-control" value="<%=detail.Rate%>" name="rate" id="" aria-describedby="helpId"
        placeholder="">
      <small id="helpId" class="form-text text-muted">Help text</small>
    </div>
    <div class="form-group">
      <label for="">Price</label>
      <input type="text" class="form-control" value="<%=detail.Price%>" name="price" id="" aria-describedby="helpId"
        placeholder="">
      <small id="helpId" class="form-text text-muted">Help text</small>
    </div>
    <button type="submit" class="btn btn-primary">save</button>
  </form>
</div>
<% include ../partials/footer %>